<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
      .box {
        background-color: aqua;
        width: 200px;
        margin: 20px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .book {
        display: flex;
      }

      .fav {
        background-color: yellow;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <a v-bind:href="url">Instagram</a>

      <div v-if="isVisible">{{ title }} - {{ author }} - {{ year }}</div>
      <button @click="toggleVisible">
        <span v-show="isVisible">Hide Book</span>
        <span v-show="!isVisible">Show Book</span>
      </button>
      <div>
        <div v-for="(book,i) in books" :key="i">
          <div class="book" @click="toggleFav(book)" :class="{fav: book.isFav}">
            <img :src="book.thumbnail" alt="book.title" />
            <div>
              <div>Judul - {{ book.title }}</div>
              <div>Tahun Terbit - {{ book.year }}</div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div v-for="(book,i) in filteredBook" :key="i">
          <div class="book" @click="toggleFav(book)" :class="{fav: book.isFav}">
            <img :src="book.thumbnail" alt="book.title" />
            <div>
              <div>Judul - {{ book.title }}</div>
              <div>Tahun Terbit - {{ book.year }}</div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div>Title: {{ books[0].title }} - Year: {{ books[0].year }}</div>
      <div>Title: {{ books[1].title }} - Year: {{ books[1].year }}</div> -->

      <div class="box" @mouseenter="handleEvent"></div>
      <div class="box" @mouseleave="handleEvent"></div>
      <div class="box" @dblclick="handleEvent"></div>
      <div class="box" @hover="handleEvent"></div>
      <div class="box" @mousemove="mouseMove">Mouse Move</div>
    </div>

    <script src="./index.js"></script>
  </body>
</html>
